<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vaguely Useful Notes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="client.js"></script>
  </head>
  <header>Thought Archiver</header>

  <body>
    <div ng-app="notepad" ng-controller="mainController">
      <input ng-model='textToPost.text' placeholder="something">
      <button type="submit" ng-click='addNote()'>U Sure?</button>
      <button type="submit" ng-click='retrieve()'>View Old Thoughts</button>
      <ul>
          <li ng-repeat="x in products" class="memory">{{x.text}}</li>
      </ul>

      <!-- <button type="submit" href ng-click="crytpo.html">Get Me Some Blockchain</button> -->

    </div>
  </body>
</html>